.room {
    height: 100vh;
}

.lit, .ON {
    background-color: white;
    color: black;
}

.dark, .OFF {
    background-color: black;
    color: white;
}

.button {
    background-color: #c8c8c8;
    border: none;
    color: rgb(3, 3, 3);
    padding: 20px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }